.cardContainer2{
    position: sticky;
    border-radius: 8px;
    border: 2px solid rgb(86, 138, 141);
    top:33vh;
}
.itemList img{
width:50px;
height:50px;
border-radius: 30px;
margin-right: 10px;
}
.itemStyle{
    align-items: center;
    display: flex;
    margin-left: 5px;

}